@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .job-description p {
    color: #000000a3;
    margin-bottom: 20px;
  }

  .job-description h2,
  .job-description h1,
  .job-description h3,
  .job-description h4,
  .job-description h5,
  .job-description h6 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #364153;
  }
  .job-description ul li,
  .job-description ol li {
    margin-bottom: 8px;
    list-style: decimal;
    margin-left: 20px;
    color: #000000a3;
  }
}
